@model esfu1_controlEscolar.Models.RegisterViewModel
@{
    ViewBag.Title = "Registro usuarios";
}

@if (ViewBag.Success != null)
{
    <div class="alert alert-success" role="alert">
        @ViewBag.Success
    </div>
}

@using (Html.BeginForm("Register", "RegistroUsuarios", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Registrar usuario.</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        <label class="control-label col-md-2 col-lg-2 col-sm-12 col-xs-12 ">
            Correo electrónico
        </label>

        <div class="col-md-10 col-lg-10 col-sm-12 col-xs-12">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 col-lg-2 col-sm-12 col-xs-12 control-label" })
        <div class="col-md-10 col-lg-10 col-sm-12 col-xs-12">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 col-lg-2 col-sm-12 col-xs-12 control-label" })
        <div class="col-md-10 col-lg-10 col-sm-12 col-xs-12">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 col-lg-2 col-sm-12 col-xs-12 control-label">Rol de usuario</label>
        <div class="col-md-10 col-lg-10 col-sm-12 col-xs-12">
            @Html.DropDownList("RoleName", (IEnumerable<SelectListItem>)ViewBag.Roles, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-lg-offset-2 col-md-10 col-lg-10 col-sm-12 col-xs-12">
            <input type="submit" class="btn btn-primary" value="Registrar" />
        </div>
    </div>
}

<hr />
<br />
<div>
    @{Html.RenderAction("Index", "RegistroUsuarios");}
</div>